button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: 1.2rem 1.2rem 1rem;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn {
	display: inline-block;
	font-family: $font__black_italic;
	color: $color__brand-1;
	border: 3px solid $color__brand-2;
	background: tranparent;
	letter-spacing: 1px;
	min-width: 175px;
	text-align: center;
	text-decoration: none;
	margin-top: 1em;
	border-radius: 0;
	font-size: 14.4px;
	font-size: 1.176em;
	line-height: 1;
	padding: 1.2rem 1.2rem 1rem;
	-webkit-appearance: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	@include respond-to(large) {
		min-width: 215px;
	}

	&:hover {
		background: $color__brand-1;
		color: #fff;
		// border: 3px solid #fff;
	}
}
