@import "buttons";

@import "fields";

#mm4-contact-form {

  .disclaimer {
    font-family: $font__italic;
  }

  .msg-box {
    display: none;
    padding: 0.75rem;
    margin-top: 1rem;

    div {
      margin-bottom: 0.375rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.error {
      display: block;
      color: #F00;
      border: 1px solid #F00;
    }
  }

  label.error {
    color: #F00;
  }
}