/* IMAGE LIGHTBOX SELECTOR */

#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  top: 50%;
  touch-action: none;
  box-shadow: 0 0 3.125em rgba(0, 0, 0, .75); /* 50 */
}

.imagelightbox-open {
  user-select: none;
  overflow: hidden;
}

/* WITH ACTIVITY INDICATION */

.imagelightbox-loading {
  width: 50px;
	height: 50px;
	border: 6px solid rgba(0, 0, 0, 0.25);
	border-top-color: rgba(0, 0, 0, 0.85);
	border-radius: 50%;
	position: fixed;
	z-index: 10003;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
  animation: loader-rotate 0.85s infinite ease-in-out, fade-in .25s linear;
}

@keyframes loader-rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

/* WITH OVERLAY */

.imagelightbox-overlay {
  background-color: $color__brand-1;
  background-color: rgba(57, 75, 160,.9);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* WITH "CLOSE" BUTTON */

.imagelightbox-close {
  cursor: pointer;
  width: 2.5em; /* 40 */
  height: 2.5em; /* 40 */
  background-color: $color__brand-1;
  position: fixed;
  z-index: 10002;
  top: 2.5em; /* 40 */
  right: 2.5em; /* 40 */
  border-radius: 50%;
  border: 3px solid #fff;
  transition: color .3s ease;
}

.imagelightbox-close:hover {
  background-color: darken($color__brand-1, 5%);
}

.imagelightbox-close:before,
.imagelightbox-close:after {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px;
}

.imagelightbox-close:before {
  transform: rotate(45deg);
}

.imagelightbox-close:after {
  transform: rotate(-45deg);
}

/* WITH CAPTION */

.imagelightbox-caption {
  text-align: center;
  color: #fff;
  font-family: $font__bold;
  letter-spacing: 1px;
  // text-align: left;
  // background-color: $color__brand-1;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 20vh;
  padding: 0.625em; /* 10 */
}

/* WITH NAVIGATION */

.imagelightbox-nav {
  background-color: #444;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em; /* 60 */
  padding: 0.313em; /* 5 */
  transform: translateX(-50%);
  border-radius: 20px;
}

.imagelightbox-nav a {
  position: relative;
  top: 0.2em;
  width: 1em; /* 20 */
  height: 1em; /* 20 */
  // border: 1px solid #fff;
  display: inline-block;
  margin: 0 0.313em; /* 5 */
  border-radius: 50%;
}

.imagelightbox-nav .active {
  background-color: #fff;
}

/* WITH ARROWS */

.imagelightbox-arrow {
  cursor: pointer;
  width: 3.75em; /* 60 */
  height: 7.5em; /* 120 */
  background-color: transparent;
  vertical-align: middle;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  margin-top: -3.75em; /* 60 */
  padding: 0;
  border: none;
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus {
  background-color: #666;
  background-color: rgba( 0, 0, 0, .75 );
}
.imagelightbox-arrow:active {
  background-color: #111;
}
.imagelightbox-arrow-left {
  left: 2.5em; /* 40 */

}
.imagelightbox-arrow-right {
  right: 2.5em; /* 40 */

}
.imagelightbox-arrow:before {
  width: 20px;
  height: 20px;
  // border: 1em solid transparent;
  color: #fff;
  display: inline-block;
  margin-bottom: -0.125em; /* 2 */
  font-size: 5em;
  // position: absolute;
}
.imagelightbox-arrow-left:before {
  content: '\003c';
  margin-left: -0.313em; /* 5 */
}
.imagelightbox-arrow-right:before {
  content: '\003e';
  margin-right: -0.313em; /* 5 */
}

.imagelightbox-overlay,
.imagelightbox-close,
.imagelightbox-nav,
.imagelightbox-arrow {
  animation: fade-in .25s linear;
}

@keyframes fade-in {
  from	{ opacity: 0; }
  to		{ opacity: 1; }
}

@media only screen and (max-width: 41.250em) { /* 660 */
  #container {
      width: 100%;
  }
  .imagelightbox-close {
      top: 1.25em; /* 20 */
      right: 1.25em; /* 20 */
  }
  .imagelightbox-arrow {
      width: 2.5em; /* 40 */
      height: 3.75em; /* 60 */
      margin-top: -1.875em; /* 30 */
  }
  .imagelightbox-arrow-left {
      left: 1.25em; /* 20 */
  }
  .imagelightbox-arrow-right {
      right: 1.25em; /* 20 */
  }
}

@media only screen and (max-width: 20em) { /* 320 */
  .imagelightbox-arrow-left {
      left: 0;
  }
  .imagelightbox-arrow-right {
      right: 0;
  }
}