// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

#page {
  position: relative;
}

#content {
  background-color: #fff;
  // position: relative;
}

#primary {
  position: relative;
  z-index: 300;
}

.wrapper {
  @include padding-left-right;
  @include section-padding(2);
  @include max-width(750px);
}