// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

#page {
  position: relative;
}

#content {
  background-color: #fff;
  position: relative;
}

#primary {
  position: relative;
  z-index: 300;
}

#main {
  @include respond-to(medium) {
    display: flex;
    justify-content: center;
    // align-items: baseline;

  }
}

.main-column {
  width: 100%;

  @include respond-to(medium) {
    flex: 1 1 auto;
  }
}

.main-decorative-column {
  width: 90%;
  margin-top: 4em;
  border-top: 5px solid $color__brand-2;
}

.main-wrapper {
  flex: 0 0 75%;
  @include max-width($max_width_md);
  @include padding-left-right;
  padding-bottom: 1em;

  @include respond-to(large) {
    max-width: $max_width_lg;
  }
}

.wrapper {
  @include padding-left-right;
  @include section-padding(2);
  padding-bottom: 2em;
  @include max-width($max_width_md);

  @include respond-to(large) {
    max-width: $max_width_lg;
  }
}

.main-content-img {
  margin: 0 1.5em 1.5em 0;
}

