section#certifications {
  text-align: center;
  @include max-width($max_width_md);
  padding-top: 2em;
  padding-bottom: 3em;
  @include padding-left-right;

  h2 {
    color: #000;
  }

  ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin: 0 .5rem;

      img {
        display: block;
        width: 90px;

        @include respond-to(large) {
          width: 110px;
        }
      }
    }
  }
}

section#certification-description {
  @include section-padding(1);

  .certification-wrapper {

    .img-wrapper {
      margin-bottom: 1.5em;
    }

    img {
      display: block;
    }

    @include respond-to(small) {
      display: flex;
      margin-bottom: 2em;

      .img-wrapper {
        flex: 0 1 20%;
      }

      .description-wrapper {
        flex: 0 1 75%;
        padding-left: 2em;

        @include respond-to(x-large) {
          padding-left: 0;
        }
      }
    }
  }
}