section#certifications {
  text-align: center;
  @include max-width($max_width_md);
  @include section-padding(2);
  @include padding-left-right;

  h2 {
    color: #000;
  }

  ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      flex: 0 1 33.333%;

      @include respond-to(x-small) {
        flex:1;
      }

      img {
        display: block;
        width: 80px;
        padding: 1em 0;

        @include respond-to(large) {
          width: 90px;
        }
      }
    }
  }
}