p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 2.5em 1.5em .5em;
	position: relative;

	&:before {
		content: "\201C";
		position: absolute;
		font-size: 4.13rem;
		top: 30px;
		left: -35px;
		line-height: 0;
		color: $color__brand-2;
		font-family: $font__medium;
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.testimonial-name-tag

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
