.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 50;

  &:after {
    content: '';
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .9;
  }

  img {
    display: inline-block;
    object-fit: cover;
    font-family: 'object-fit: cover';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    // For some reason, IE11 seems to need this
    left: 0;
    top: 0;
  }

  .content-container {
    position: relative;
    z-index: 100;

    @include respond-to(small) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      padding-top: 7.5em;
      padding-bottom: 4em;
    }

    @include respond-to(small) {
      padding-top: 8.5em;
      padding-bottom: 5em;
    }

    @media only screen and (min-width: 1000px) {
      padding-top: 11em;
      padding-bottom: 6.5em;
    };

    @include respond-to(large) {
      padding-top: 14em;
      padding-bottom: 6.75em;
    }

    @include respond-to(xx-large) {
      padding-top: 15em;
      padding-bottom: 7.75em;
    }

    @include respond-to(xxx-large) {
      padding-top: 16em;
      padding-bottom: 8.75em;
    }
  }

  .services-container {
    padding-top: 9em;

    @include respond-to(small) {
      flex: 1;
      display: flex;
      align-items: baseline;
      padding-top: 0;
    }

    span {
      display: inline-block;
      width: 90%;
      border-top: 5px solid $color__brand-2;

      @include respond-to(small) {
        flex: 1 1 40%;
        padding-bottom: 2px;
      }

      @include respond-to(xx-large) {
        flex: 1 1 50%;
      }
    }

    .services-list {
      font-size: 1.1em;
      padding-top: 1em;
      padding-left: 1rem;

      @include respond-to(small) {
        flex: 1 1 auto;
        padding-top: 0;
      }

      ul {
        list-style-type: none;
        margin: .5em 0;
        padding-left: 1.875em;

        li {
          font-family: $font__medium;
          margin-bottom: 1.3rem;
          position: relative;

          &:before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: -1rem;
            content: '\002D';
          }
        }
      }
    }
  }

  .callout-container {
    @include padding-left;
    padding-bottom: 4em;
    padding-right: 0;
    margin-right: 0;

    @include respond-to(small) {
      flex: 1;
      padding-bottom: 0;
      margin-top: 2.5em;

      @media only screen and (min-width: 1010px) {
        margin-top: 1em;
        padding-left:0;
      }
    }

    .title-container {
      @include padding-right;
      margin: 2.5em 0 1.5em;

      @include respond-to(small) {
        margin-top: 0;
      }
    }

    .title {
      max-width: 300px;
      font-size: 3.529rem;
      font-family: $font__bold;
      line-height: 1;
      margin-bottom: .25em;

      @include respond-to(x-small) {
        max-width: none;
      }

      @include respond-to(small) {
        margin-bottom: .25em;
      }
    }

    .subtitle {
      font-size: 1.765rem;
      font-family: $font__bold;
      line-height: 1.1;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding-right: 0;

      .btn {
        color: $color__brand-1;
        @include font-smooth;
        &:visited {
          color: $color__brand-1;
          flex:1;
        }

        &:hover {
          border: 3px solid $color__brand-2;
          background: $color__brand-1;
          color: #fff;
          transition: all .2s ease-in-out;
        }
      }

      @include respond-to(small) {
        margin-top: 5em;
      }

      span {
        flex:2;
        display: inline-block;
        border-top: 5px solid $color__brand-2;
        width: 100%;
        margin-left: 2em;
        padding-bottom: 5px;
      }
    }
  }
}