.hero {
  position: relative;
  width: 100%;
  min-height: 550px;
  // max-height: 750px;
  overflow: hidden;
  // padding-bottom: 3em;
  // background-color: #fff;

  @include respond-to(medium) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 750px;

  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .85;
  }

  img {
    display: block;
    object-fit: cover;
    font-family: "object-fit: cover";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:-1;
  }

  .services-container {
    position: relative;
    z-index: 50;
    padding-top: 7em;

    @include respond-to(medium) {
      flex: 1;
      display: flex;
      align-items: baseline;
      padding-top: 0;
    }

    span {
      display: inline-block;
      width: 90%;
      border-top: 5px solid $color__brand-2;

      @include respond-to(medium) {
        flex:1 1 40%;
        padding-bottom: 2px;
      }
    }

    .services-list {
      font-size: 1.1em;

      @include respond-to(medium) {
        flex:1 1 auto;
        // margin-left: auto;
      }

      ul {
        list-style-type: none;
        margin: .5em 0;
        padding-left: 1.875em;

        li {
          font-family: $font__medium;
          // line-height: 2.2;
          margin-bottom: 1.3rem;

          &:before {
            content: '\002D';
            margin-right: .5em;
          }
        }
      }
    }

    @include respond-to(small) {

    }
  }

  .callout-container {
    position: relative;
    z-index: 50;
    @include padding-left;
    padding-bottom: 4em;
    padding-right: 0;
    margin-right: 0;

    @include respond-to(medium) {
      flex: 1;
      margin-top: 4em;
      padding-left: 0;
    }

    .title-container {
      @include padding-right;
      margin: 1.5em 0 1em;
    }

    .title {
      max-width: 300px;
      font-size: 3.529rem;
      font-family: $font__bold;
      line-height: 1;
      margin-bottom: .5em;

      @include respond-to(x-small) {
        max-width: none;
      }

      @include respond-to(medium) {
        margin-bottom: .25em;
      }
    }

    .subtitle {
      font-size: 1.765rem;
      font-family: $font__bold;
      line-height: 1.1;
    }

    .button-container {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      padding-right: 0;

      @include respond-to(medium) {
        margin-top: 5em;
      }

      span {
        display: inline-block;
        border-top: 5px solid $color__brand-2;
        width: 100%;
        margin-left: 2em;
        padding-bottom: 5px;
      }
    }
  }
}