.hero {
  position: relative;
  // z-index: -1;
  width: 100%;
  // height: 250px;
  overflow: hidden;
  padding-top: 6em;
  padding-bottom: 3em;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .85;
  }

  img {
    object-fit: cover;
    font-family: "object-fit: cover";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:-1;
  }

  .services-container {
    position: relative;
    z-index: 300;

    span {
      display: inline-block;
      width: 90%;
      border-top: 3px solid $color__brand-2;

    }

    .services-list {
      font-size: 1.1em;

      ul {
        list-style-type: none;
        margin: .5em 0;
        padding-left: 1.875em;

        li {
          font-family: $font__medium;
          line-height: 2.2;

          &:before {
            content: '\002D';
            margin-right: 1em;
          }
        }
      }
    }


  }

  .callout-container {
    position: relative;
    z-index: 300;
    @include padding-left-right;
    padding-right:0;

    .title-container {
      @include padding-right;
      margin: 1.5em 0 1em;
    }

    .title {
      font-size: 3.529em;
      font-family: $font__bold;
      line-height: 1;
      margin-bottom: .1em;
    }

    .subtitle {
      font-size: 1.765em;
      font-family: $font__bold;
      line-height: 1.1;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    .btn {

    }

    span {
      display: inline-block;
      border-top: 3px solid $color__brand-2;
      width: 100%;
      margin-left: 2em;
      padding-bottom: 5px;
    }

  }
}