.home {
  #main {

    .hentry {
      margin: 0;
    }

    article {
      position: relative;
      width: 100%;

      &:after {
        content: '';
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color__brand-1;
        opacity: .75;
      }

      .home-main-content-img {
        object-fit: cover;
        font-family: "object-fit: cover";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index:-1;
      }

      .frontpage-wrapper {
        position: relative;
        z-index: 300;
        color: #fff;
        @include section-padding(2);
        @include padding-left-right;
        text-align: center;
        @include max-width($max_width_md)

        h1.entry-title {
          color: #fff;
          @include font-smooth;
          font-size: 1.765rem;
          line-height: 1.3;

          @include respond-to(small) {
            font-size: 1.765rem;
          }

          @include respond-to(large) {
            font-size: 1.765rem;
          }
        }

        .btn {
          color: #fff;
          @include font-smooth;
          margin-top: 2em;

          &:hover {
            background-color: $color__brand-2;
          }
        }
      }
    }
  }
}