.home {
  #main {

    .hentry {
      margin: 0;
    }

    article {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color__brand-1;
        opacity: .75;
      }

      .home-main-content-img {
        object-fit: cover;
        font-family: "object-fit: cover";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index:-1;
      }

      .wrapper {
        position: relative;
        z-index: 300;
        color: #fff;
        @include section-padding(2);
      }
    }

  }
}