#masthead {
  position: relative;
  z-index: 5;
  @include padding-left-right;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-to('large') {
    // align-items: flex-end;
  }

  a[rel="home"] {
    svg {
      display: block;
      width: 130px;
      height: 57px;

      @include respond-to('small') {
        max-width: 150px;
      }
    }
  }

  .phone {
    display: none;

    @include respond-to('large') {
      display: block;
    }
  }
}