.home #masthead {
  background-color: transparent;
}

#masthead {
  background-color: #fff;
  position: relative;

  .masthead-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 240, 240, .5);
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }

  a[rel="home"] {
    svg {
      display: block;
      width: 120px;
      height: 55px;

      @include respond-to('small') {
        max-width: 150px;
      }
    }
  }

  .site-branding {

    @include padding-left;
  }

  .phone-menu-container {

  }

  .phone {
    display: none;
    text-transform: uppercase;

    .title {
      color: #909090;
    }

    .number {
      color: $color__brand-2;
      font-size: 1.765rem;
    }

    @include respond-to('large') {
      display: block;
    }
  }
}

.home #masthead {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}