#masthead {
  background-color: #fff;
  position: relative;
  z-index: 1000;

  .masthead-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 240, 240, .5);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  a[rel="home"] {
    svg {
      display: block;
      width: 120px;
      height: 55px;

      @include respond-to('small') {
        width: 150px;
        height: 68px;
      }

      @include respond-to('large') {
        width: 175px;
        height: 80px;
      }
    }
  }

  .site-branding {

    @include padding-left;
  }

  .phone-menu-container {

  }

  .phone {
    font-family: $font__bold;
    display: none;
    text-transform: uppercase;

    .title {
      color: #909090;
    }

    .number {
      color: $color__brand-2;
      font-size: 1.765rem;
      margin-left: 1rem;
    }

    @include respond-to('large') {
      display: block;
    }
  }
}

.home #masthead {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  background-color: transparent;
}