.page-template-page-services {
  .services {

    .inner-wrapper {
      position: relative;

      a {
        color: #fff;
        text-decoration: none;
      }

      img {
        object-fit: cover;
        font-family: "object-fit: cover";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index:-1;
        display: block;
      }

      .title {
        display: inline-block;
        font-size: 2em;
        @include padding-left-right;
        padding-top: 5em;
        padding-bottom: 5em;

        &:before {
          content: '';
          position: absolute;
          border-top: 2px solid $color__brand-2;
          width: 40%;
        }
      }
    }

    .estimate-callout {
      background-color: $color__brand-1;
      color: #fff;

      .estimate-title {
        position: absolute;
        font-size: 3em;
        background-color: $color__brand-2;
        @include padding-left-right;
        top: 1.5em;
        left: 1.875rem;
        width: 65%;
        text-transform: uppercase;
      }

      .subtitle {
        display: inline-block;
        font-size: 2em;
        @include padding-left-right;
        padding-top: 5em;
        padding-bottom: 5em;
      }

      .btn {
        position: absolute;
        bottom: 100px;
        left: 1.875rem;
      }
    }
  }
}