.page-template-page-services {
  #services {

    ul {
      position: relative;
      margin:0;
      padding: 0;
      list-style-type: none;

      @media only screen and (min-width: 650px) {
        display: flex;
        flex-wrap: wrap;
      };

      li {
        overflow: hidden;
        @include padding-left-right;
        padding-top: 8rem;
        padding-bottom: 8rem;
        position: relative;
        z-index: 300;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: flex-start;
        border-bottom: 1px solid #FFF;
        @include test(red);

        @media only screen and (min-width: 650px) {
          flex: 0 0 50%;
        };


        @include respond-to(medium) {
          flex: 0 0 33.333%;

          &:nth-child(odd), &:nth-child(even) {
            border-right: 1px solid #FFF;
          }

          &:nth-child(3n+3) {
            border-right: none;
          }
        }

        @include respond-to(x-large) {
          // padding-top: 10em;
          // padding-bottom: 10em;

        }
      }

      img {
        display: block;
        object-fit: cover;
        font-family: 'object-fit: cover';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        // For some reason, IE11 seems to need this
        left: 0;
        top: 0;
      }

      a {
        position: relative;
        z-index: 10;
        color: #fff;
        text-decoration: none;
      }

      span {
        display: inline-block;
      }

      .title {
        position: relative;
        font-size: 2em;
        line-height: 1.2;

        &:before {
          content: '';
          border-top: 2px solid $color__brand-2;
          width: 175px;
          position: absolute;
          top: -15px;
          left: 0;
        }

        &:after {
          content: '\003e';
          margin-left: 10px;
          line-height: 0;
          vertical-align: middle;
        }
      }
    }

    .estimate-callout {
      background-color: $color__brand-1;
      color: #fff;
      padding: 2em 0;

      .estimate-title-wrapper {
        @include padding-left-right;
        max-width: 375px;
      }

      .estimate-title {
        font-size: 3em;
        font-family: $font__black;
        letter-spacing: 3px;
        background-color: $color__brand-2;
        text-transform: uppercase;
        width: 100%;
        padding-left: 1.875rem;
        @include test(white);
      }

      .estimate-subtitle {
        display: inline-block;
        padding-left: 1.875rem;
        width: 100%;
        font-size: 2em;
        font-family: $font__bold;
        line-height: 1.2;
        @include test(white);
      }

      .estimate-button-wrapper {
        @include padding-left;
        display: flex;
        justify-content: center;
        align-items: center;
        @include test(white);
      }
      .btn {
        margin-left: 1.875rem;
      }

      .decoration-line {
        width: 100%;
        margin-left: 2em;
        margin-top: 15px;
        height: 2px;
        background-color: $color__brand-2;
      }
    }
  }
}